# Pre-Test - Use Case
Name: Michael Tonggi Situmorang
<br>Date: 16 October 2019
<br>e-mail: michael_t_situmorang@telkomsel.co.id
***

## Import Modules

In [22]:
import numpy as np
import pandas as pd
import statistics as st

In [57]:
Churn = pd.read_csv('churn.csv', encoding='utf-8')

In [58]:
Churn.head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [121]:
#Churn = Class
#Class = 1 = Churn
#Class = 0 = Not Churn

In [94]:
Churn.shape

(5000, 21)

In [96]:
Churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

# Question 1 - What are average values of numerical variables for churned users?

In [109]:
Churn[Churn['class'] == 1].mean()

state                              26.251768
account_length                    102.332390
area_code                         437.971711
phone_number                     2543.499293
international_plan                  0.281471
voice_mail_plan                     0.144272
number_vmail_messages               4.496464
total_day_minutes                 207.870580
total_day_calls                   100.817539
total_day_charge                   35.338416
total_eve_minutes                 211.757850
total_eve_calls                    99.884017
total_eve_charge                   17.999562
total_night_minutes               206.078218
total_night_calls                  99.575672
total_night_charge                  9.273607
total_intl_minutes                 10.692362
total_intl_calls                    4.151344
total_intl_charge                   2.887426
number_customer_service_calls       2.254597
class                               1.000000
dtype: float64

## Question 2 - Which Area Code has the most class = 0

In [103]:
Churn.groupby(["area_code", "class"]).size().unstack()

class         0    1
area_code
408        1082  177
415        2149  346
510        1062  184

## Question 3-  average numbers of day, evening and night calls by area code

In [104]:
Churn.pivot_table(['total_day_calls', 'total_eve_calls', 'total_night_calls'], ['area_code'], aggfunc='mean')

           total_day_calls  total_eve_calls  total_night_calls
area_code
408              99.555997       100.510723          99.325655
415             100.626854       100.234870          99.980361
510              99.311396        99.780096         100.396469

## Question 4 -  What is the most correlation to churn (aside from churn itself)?

In [111]:
churn_variable = ['state', 'account_length', 'area_code', 'phone_number', 'international_plan', 'voice_mail_plan',
                 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'total_day_charge', 
                  'total_eve_minutes', 'total_eve_calls', 'total_eve_charge', 'total_night_minutes', 'total_night_calls',
                 'total_night_charge', 'total_intl_minutes', 'total_intl_calls', 'total_intl_charge', 'number_customer_service_calls',
                 'class']

In [116]:
abs(Churn[churn_variable].corr()['class']).sort_values(ascending=False).head()

class                            1.000000
international_plan               0.259123
number_customer_service_calls    0.212564
total_day_minutes                0.207705
total_day_charge                 0.207700
Name: class, dtype: float64

## Question 5 - Number of churned based on having international_plan

In [118]:
pd.crosstab(Churn['class'], Churn['international_plan'], margins=True)

international_plan     0    1   All
class
0                   4019  274  4293
1                    508  199   707
All                 4527  473  5000